.message {
  width: 100%;
  height: 100vh;
  background-color: #313338;
  p {
    user-select: none;
  }

  .message-header {
    display: flex;
    width: 100%;
    height: 3rem;
    align-items: center;
    border-bottom: 1px solid #26282c;

    .header-left {
      display: flex;
      align-items: center;
    }

    .icon {
      width: 24px;
      height: 24px;
      margin-left: 0.75rem;
      filter: invert(58%) sepia(2%) saturate(1329%) hue-rotate(188deg)
        brightness(90%) contrast(80%);
    }
    .message-header-options {
      .icon {
        cursor: pointer;
      }
    }
    .filter-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 70%;
      margin-left: 0.5rem;
      min-width: 40px;
      border-radius: 5px;
      padding: 0 0.25rem 0 0.25rem;

      p {
        user-select: none;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 600;
        margin: 0;
        color: #b6bac0;
      }
    }
    .filter-container:hover {
      background-color: #43444a;
    }

    #add-friend-tag {
      user-select: none;
      cursor: pointer;
      margin-left: 0.5rem;
      min-width: 40px;
      border-radius: 5px;
      color: #fff;
      background-color: #417e4c;
      padding: 0.25rem;
    }

    .selected {
      color: #e7e8ea;
    }

    .toolbar {
      filter: brightness(0) saturate(100%) invert(86%) sepia(9%) saturate(158%)
        hue-rotate(177deg) brightness(88%) contrast(84%);
    }

    .separator {
      width: 1px;
      height: 1.5rem;
      margin-left: 1rem;
      background-color: #4e5058;
    }

    .message-header-filters {
      display: flex;
      width: 24rem;
      height: 100%;
      align-items: center;
      justify-content: space-between;
      margin-left: 1rem;
    }

    .message-header-options {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: 1rem;
    }
  }

  .direct-message-container {
    display: flex;

    .direct-message {
      display: flex;
      width: 85%;
    }

    .friend-profile {
      display: flex;
      width: 40%;
    }
  }

  .container {
    display: flex;
    width: 100%;
    height: 100%;

    .conversation {
      width: 100%;
      height: 100%;
      border-right: 1px solid #3f4146;
    }
    .add-friend-container {
      width: 100%;
      padding: 1rem 0 2rem 2rem;
      h2 {
        margin: 0;
        padding: 0;
        color: #f2f3f5;
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }
      p {
        margin: 0;
        margin-bottom: 1rem;
        color: #b6bac0;
        font-size: 0.9rem;
      }
      .friend-request-container {
        background-color: #1e1f22;
        width: 90%;
        padding: 0.75rem;
        border-radius: 8px;
        display: flex;
        align-items: center;
        input {
          width: 80%;
          border: none;
          background-color: inherit;
          color: #4f5154;
          font-size: 1rem;
        }

        input:focus {
          outline: none;
        }
        button {
          background-color: #5b65ea;
          border: none;
          color: #f2f3f5;
          padding: 0.5rem;
          width: auto;
          border-radius: 5px;
          cursor: pointer;
          display: block;
          white-space: nowrap;
        }
      }
    }
    .extra {
      position: relative;
      border-top: 1px solid #3f4146;
      padding: 2rem;
      padding-top: 1rem;

      h2,
      p {
        padding: 0;
        margin: 0;
      }
      h2 {
        color: #f2f3f5;
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }

      #explore-btn {
        display: flex;
        border: 5px;
        width: 45%;
        background-color: #2b2d31;
        padding: 0.5rem;
        border-radius: 10px;
        border: 1px solid #3e4047;
        align-items: center;
        #explore-icon-container {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #50a361;
          width: 36px;
          height: 36px;
          border-radius: 5px;
          margin-right: 0.5rem;
        }
        #explore-icon {
          width: 24px;
          height: 24px;
        }
        .icon {
          filter: invert(98%) sepia(0%) saturate(0%) hue-rotate(338deg)
            brightness(101%) contrast(104%);
          width: 24px;
          height: 24px;
        }
        p {
          color: #f2f3f5;
          margin-right: auto;
        }
      }

      .img-container {
        position: absolute;
        left: 200px;
        right: 0;
        top: 120px;
        margin-left: auto;
        margin-right: auto;
      }
      .bg-img {
        background-image: url(../assets/extra-bg.svg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 376px;
        height: 162px;
        margin-bottom: 3rem;
      }
      #bg-img-subtitle {
        color: #b6bac0;
      }
    }
    .friend-activity {
      width: 45%;
      h3,
      h2 {
        color: #f2f3f5;
        margin: 0;
      }
      h2 {
        padding: 1rem 0 0 1rem;
        margin-bottom: 2rem;
        font-size: 1.3rem;
        text-align: left;
      }
      h3 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }
      #test {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      #description-container {
        width: 80%;
      }
      p {
        margin: 0;
        color: #b6bac0;
        font-size: 0.9rem;
      }
      h3,
      p {
        text-align: center;
      }
    }
  }
}
