.social-nav-container {
  width: 21%;
  height: 100vh;
  background-color: #2b2d31;
  display: flex;
  flex-direction: column;
  align-items: center;

  .top-bar {
    width: 100%;
    height: 3rem;
    border-bottom: 1px solid #26282c;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-btn {
    background-color: #1e1f22;
    width: 92%;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    color: #90979f;
    text-align: left;
    padding: 0.5rem;
    border: none;
  }

  .friend-tab {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 2.75rem;
    width: 92%;
    cursor: pointer;
    margin-top: 0.5rem;
    border-radius: 5px;
    background-color: #4e505899;
    transition: 0.2s ease-in-out;
    &:hover {
      background-color: #35373c;
    }

    .friend-icon {
      width: 24px;
      height: 24px;
      margin-left: 0.5rem;
    }

    p {
      font-weight: 500;
      font-size: 1rem;
      margin-left: 1rem;
      color: #fff;
    }
  }

  .direct-message-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 92%;
  }

  .title-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    .direct-message-title {
      color: #90979f;
      font-weight: 600;
      font-size: 0.7rem;
      transition: 0.2s ease-in-out;
      &:hover {
        color: #dbdee1;
      }
    }

    .poly {
      cursor: pointer;
    }
  }
  .message-list {
    display: flex;
    align-items: center;
    height: 35rem;

    .placeholder-container {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 1rem;
    }

    .placeholder {
      color: #313338;
    }

    .icon-placeholder {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: #313338;
    }

    .name-placeholder {
      width: 70%;
      height: 1.5rem;
      border-radius: 16px;
      background-color: #313338;
    }
  }
}
