@import "./login.scss";
@import "./register.scss";
@import "./home.scss";
@import "./serverNav.scss";
@import "./socialNav.scss";
@import "./socialDashboard.scss";

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: "Inter", sans-serif;
}
