@import "./login.scss";
@import "./directMessage.scss";
@import "./messageList.scss";
@import "./register.scss";
@import "./message";
@import "./socialHub.scss";
@import "./home.scss";
@import "./serverNav.scss";
@import "./socialNav.scss";
@import "./topbar.scss";
@import "./socialDashboard.scss";
@font-face {
  font-family: "gg-sans";
  src: url("../assets/gg-sans-2/gg-sans-Regular.ttf");
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: "gg-sans";
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    user-select: none;
  }
}
